.iconfactura{
	position:fixed;
	right: 	-20px;
	top: 	120px;
	z-index: 	20000;
	display: inline-block;	
	list-style: none;
background:rgb(255,255,255) transparent;

	
}

.social ul li a img{
background:rgb(255,255,255) transparent;
}
.iconfactura{
    
}